@import url('./subscribe__input-container/subscribe__input-container.css');
@import url('./subscriber__input/subscriber__input.css');
@import url('./subscribe__button/subscribe__button.css');

.subscribe {
  grid-column: 1 / 3;
  grid-row: 4 / 5;
}

@media (width > 576px) {

  .subscribe {
    grid-column: 1 / 8;
    grid-row: 2 / 3;
  }
}
